body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

.marker img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popup-content {
  padding: 10px;
  background-color: red;
}

.popup-content h3 {
  margin: 0;
  font-size: 16px;
}

.mapboxgl-canvas {
  border: 1px solid blue;
}
