.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.marker img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
